
@each $color $tone in $base-colors {
    .u-vertical-divider--#{$tone} {
      border-right: 1px solid $color;
    }
  }

@each $value $space in $spacingMap {
  .u-vertical-divider--#{$space} {
    height: #{$value}px;
  }
  .u-vertical-divider--minheight-#{$space} {
    min-height: #{$value}px;
  }
}

.u-vertical-divider--height-full {
  height: 100%;
}
