@import '../utils';

.icon {
  display: block;
  pointer-events: none;
}

.inherit {
  color: inherit;
}

:global(._feather) {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
