@import '../utils';

.u-button {
  display: block;
  border: 0;
  width: 100%;
  border-radius: map-get(map-get($border, radius), standard);

  &.icon-only {
    width: auto;

    &.size-large {
      width: #{$space-xxlarge}px;
      height: #{$space-xxlarge}px;
    }

    &.size-regular {
      width: #{$space-xlarge}px;
      height: #{$space-xlarge}px;
    }

    &.size-small {
      width: #{$space-largeish}px;
      height: #{$space-largeish}px;
    }

    &.size-xsmall {
      width: #{$space-large}px;
      height: #{$space-large}px;
    }
  }

  &.size-large .u-button__inner {
    height: #{$space-xxlarge}px;
  }

  &.size-regular .u-button__inner {
    height: #{$space-xlarge}px;
  }

  &.size-small .u-button__inner {
    height: #{$space-largeish}px;
  }
}

@each $color $tone in $base-colors {
  .u-button.bg-#{$tone} {
    &:global(.focus-visible) {
      outline: none;
      box-shadow: 0 0 0 3px color($color a(40%));
    }
  }
}

.u-button.bg-transparent {
  &:global(.focus-visible) {
    outline: none;
    box-shadow: 0 0 0 3px color(map-get($base-colors, focus) a(40%));
  }
}

.weight-strong {
}
.weight-regular {
}
.weight-weak {
}
