@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Work+Sans:300,400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.u-cols.props-table {
  grid-template-columns: 120px 270px 80px 1fr;
  align-items: center;
}

.props-table .u-col {
}

.u-box.code {
  padding: 0px 5px;
  border-radius: 3px;
}

.propCodes {
  display: flex;
  flex-wrap: wrap;
  margin: -3px;
}

.code {
  background: rgb(248, 248, 248);
  border: 1px solid #dee3fb;
}

.propCodes .code {
  margin: 3px;
}

.code .u-text {
  color: #444;
  font-family: monospace;
}
