@mixin textAdjust($size: 13, $rows: 4, $scaleKey: text) {
  $lineHeight: $grid * $rows;

  $transform: baseliner($size, $rows, $scaleKey, transform);
  $marginTop: baseliner($size, $rows, $scaleKey, marginTop);

  font-size: calc($size * 1px);
  line-height: calc($lineHeight * 1px);

  &.u-text--baseline {
    transform: $transform;
    padding-top: 1px;
    &:before {
      content: '';
      display: block;
      height: 0;
      margin-top: $marginTop;
    }
  }
}

@mixin linkStyle() {
  cursor: pointer;
  border: 0;
  text-decoration: none;

  &.c-underline {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
    & .u-text {
      text-decoration: underline;
    }
  }
}
